<div ng-show="search">
    <!-- Jumbotron -->
    <div class="jumbotron text-center">
        <span class="display-4">Search for Recipes</span>
        <div class="justify-content-center text-center">
            <!-- Search Bar -->
            <div class="search-form py-4">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="searchInput" ng-model="searchQuery"
                            placeholder="Search recipes..." />
                    </div>
                </div>
                <div class="pt-3">
                    <button class=" btn btn-searchbytext btn-primary mr-2" ng-click="searchRecipes()"
                        style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);">Search</button>
                    <button type="button" ng-click="clearFancy()" class="btn"
                        style="background-color: #e66a00; color: white;">Clear</button>
                </div>
            </div>
        </div>

        <!-- Main Content -->

        <!-- Filters Section -->
        <div class="filters-section row justify-content-center pt-4">
            <!-- Meal Type Filters -->
            <div class="col-lg-3 col-md-4 mb-3">
                <table class="table table-bordered table-active text-center"
                    style="background-color: rgba(0, 0, 0, 0.8); color: white; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);">
                    <tr>
                        <td>
                            <label class="font-weight-bold">Meal Type:</label><br>
                            <label><input value="Dinner" type="radio" ng-model="mealType" /> Dinner</label>
                            <label><input value="Breakfast" type="radio" ng-model="mealType" /> Breakfast</label>
                            <label><input value="" type="radio" ng-model="mealType" /> Lunch</label>
                            <label><input value="Dessert" type="radio" ng-model="mealType" /> Dessert</label>
                            <div><button class="btn btn-primary mt-2" ng-click="searchbyMealType()">Search</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- Cuisine Type Filters -->
            <div class="col-lg-3 col-md-4 mb-3">
                <table class="table table-bordered table-active text-center"
                    style="background-color: rgba(0, 0, 0, 0.8); color: white; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);">
                    <tr>
                        <td>
                            <label class="font-weight-bold">Cuisine Type:</label><br>
                            <label><input value="Italian" type="radio" ng-model="cuisineType" /> Italian</label>
                            <label><input value="LatinAmerica" type="radio" ng-model="cuisineType" /> Latin
                                America</label>
                            <label><input value="Asian" type="radio" ng-model="cuisineType" /> Asian</label>
                            <label><input value="Southern" type="radio" ng-model="cuisineType" /> Southern</label>
                            <label><input value="American" type="radio" ng-model="cuisineType" /> American</label>
                            <label><input value="European" type="radio" ng-model="cuisineType" /> European</label>
                            <label><input value="African" type="radio" ng-model="cuisineType" /> African</label>
                            <div><button class="btn btn-primary mt-2" ng-click="searchbyCuisineType()">Search</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- Family Favorite Filters -->
            <div class="col-lg-3 col-md-4 mb-3">
                <table class="table table-bordered table-active text-center"
                    style="background-color: rgba(0, 0, 0, 0.8); color: white; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);">
                    <tr>
                        <td>
                            <label class="font-weight-bold">Family Favorite:</label><br>
                            <label><input value="Mom" type="radio" ng-model="familyFavorite" /> Mom</label>
                            <label><input value="Dad" type="radio" ng-model="familyFavorite" /> Dad</label>
                            <label><input value="Grandma" type="radio" ng-model="familyFavorite" /> Grandma</label>
                            <label><input value="Grandpa" type="radio" ng-model="familyFavorite" /> Grandpa</label>
                            <label><input value="Brother" type="radio" ng-model="familyFavorite" /> Brother</label>
                            <label><input value="Sister" type="radio" ng-model="familyFavorite" /> Sister</label>
                            <label><input value="Aunt" type="radio" ng-model="familyFavorite" /> Aunt</label>
                            <label><input value="Uncle" type="radio" ng-model="familyFavorite" /> Uncle</label>
                            <label><input value="Cousin" type="radio" ng-model="familyFavorite" /> Cousin</label>
                            <label><input value="Other" type="radio" ng-model="familyFavorite" /> Other</label>
                            <label><input value="Stepmom" type="radio" ng-model="familyFavorite" /> Stepmom</label>
                            <label><input value="Stepdad" type="radio" ng-model="familyFavorite" /> Stepdad</label>
                            <div><button class="btn btn-primary mt-2"
                                    ng-click="searchbyfamilyFavorites()">Search</button></div>
                        </td>
                    </tr>
                </table>
            </div>



        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3">
                <button ng-click="searchbyAllTypes()" class="btn"
                    style="background-color: #1d50d0; color: white; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);">
                    Search All Types
                </button>
            </div>
        </div>

    </div>
</div>
</div>

</div>
</div>
<div ng-show="!search">
    <div class="container mt-4">
        <div class="card shadow-lg" style="background-color: transparent; border: none;">
            <!-- Header with Deep Red Background and Black Border -->
            <div class="card-header" style="background-color: #A52A2A; color: white; border: 2px solid black;">
                <h4 class="text-center">Search Results</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <!-- Card Layout for Recipes -->
                    <div class="col-lg-4 col-md-6 mb-4" ng-repeat="recipe in recipes">
                        <div class="card h-100 shadow-sm" style="border: 2px solid black; background-color: white;">

                            <!-- Cuisine Image at the Top -->
                            <div class="card-img-top"
                                style="height: 150px; background-size: cover; background-position: center; background-image: url('./images/{{recipe.cuisineType}}.jpg');">
                            </div>

                            <!-- Recipe Title Header -->
                            <div class="card-header"
                                style="background-color: #A52A2A; color: white; border-bottom: 2px solid black;">
                                <h5 class="card-title text-center">{{ recipe.title }}</h5>
                            </div>

                            <!-- Button to Show/Hide Recipe -->
                            <div class="card-body text-center">
                                <button class="btn btn-primary mb-3"
                                    ng-click="recipe.showDetails = !recipe.showDetails">
                                    {{ recipe.showDetails ? 'Hide Recipe' : 'View Recipe' }}
                                </button>
                                <div ng-show="recipe.showDetails" style="text-align: left;">
                                    <p><strong>Ingredients:</strong></p>
                                    <ul style="text-align: left;">
                                        <li ng-repeat="ingredient in recipe.ingredients.split(',')">{{ ingredient }}</li>
                                    </ul>
                                    <p><strong>Steps:</strong></p>
                                    <ul style="text-align: left;">
                                        <li ng-repeat="step in recipe.steps.split('.')">{{ step }}</li>
                                    </ul>
                                </div>
                                
                            <!-- Footer with Update/Delete Button -->
                            <div class="card-footer text-center">
                                <div class="text-muted mb-2">
                                    Created on: {{ recipe.createDateTime | date:'MM/dd/yyyy' }}
                                </div>
                                <button class="btn" style="background-color: #1d50d0; color: white;"
                                    ng-click="goToUpdateView(recipe.id)">
                                    Update/Delete Recipe
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer with Deep Red Background -->
            <div class="card-footer text-center" style="background-color: #A52A2A; color: white;">
                <button class="btn" style="background-color: #1d50d0; color: white; width: 15%;"
                    ng-click="close()">Clear</button>
            </div>
        </div>
    </div>
</div>
